/*
 *	util style
 */

body {
	font-family: "微软雅黑";
}

p {
	margin: 0;
}

.gradient {
	background-color: #e4e4e4;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #fff), color-stop(1, #e4e4e4));
	background-image: -moz-linear-gradient(top, #fff, #e4e4e4);
	background-image: -o-linear-gradient(top, #fff, #e4e4e4);
}

.gradient-inverse {
	background-color: #fff;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #e4e4e4), color-stop(1, #fff));
	background-image: -moz-linear-gradient(top, #e4e4e4, #fff);
	background-image: -o-linear-gradient(top, #e4e4e4, #fff);
}

.shadow {
	-webkit-box-shadow: 0 0 10px #8a8a8a;
	box-shadow: 0 0 10px #8a8a8a;
}

.ul-horizontal {
	width: 100%;
	height: 100%;
}

.ul-horizontal > li {
	display: inline-block;
}

.ul-noListStyle {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pointer {
	cursor: pointer;
}

.pointer:active {
	position: relative;
	top: 1px;
	left: 1px;
}

.show {
	display: block !important;
}

.hide {
	display: none !important;
}

.text-white {
	color: #e6e6e6;
}

.text-red {
	color: red;
}

.text-grey {
	color: #999999;
}

.text-green {
	color: green;
}

.indent25 {
	text-indent: 25px;
}

.indent15 {
	text-indent: 15px;
}

.indent10 {
	text-indent: 10px;
}

.bold {
	font-weight: bold;
}

.fs12 {
	font-size: 12px;
}

.fs14 {
	font-size: 14px;
}

.fs15 {
	font-size: 15px;
}

.fs16 {
	font-size: 16px;
}

.fs18 {
	font-size: 18px;
}

.fs20 {
	font-size: 20px;
}

.fs24 {
	font-size: 24px;
}

.fs28 {
	font-size: 28px;
}

.fs32 {
	font-size: 32px;
}

.lh50 {
	line-height: 50px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-overflow-hide {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.top: {
	top: 0;
}

.bottom: {
	bottom: 0;
}

.center {
	margin: 0 auto;
}

.w90p {
	width: 90%;
}

.w925p {
	width: 92.5%;
}

.w95p {
	width: 95%;
}

.mt10 {
	margin-top: 10px;
}

.mt15 {
	margin-top: 15px;
}

.mb10 {
	margin-bottom: 150px;
}

.mb15 {
	margin-bottom: 15px;
}

.ml10 {
	margin-left: 10px;
}

.ml15 {
	margin-left: 15px;
}

.mr10 {
	margin-right: 10px;
}

.mr15 {
	margin-right: 15px;
}


.triangle-left {
	display: block;
	width: 0;
	height: 0;
	border-left: 14px solid #26c922;
	border-right: none;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.divider {
	position: absolute;
	left: 15px;
	right: 15px;
	height: 1px;
	background-color: #aaa;	
}

.box {
	overflow: hidden;
	width: 95%;
	margin: 0 auto 24px;
	background-color: #e2e2e2;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}

.imageFrame {
	padding: 15px;
}

.imageFrame img {
	width: 100%;
}

.circle-frame {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 50%;
}

.circle-frame img {
	width: 100%;
	height: 100%;
}

.label {
	display: inline-block;
	width: 100%;
	padding: 3px 0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 1px 1px 0 #fff;
	text-indent: 10px;
}

.label.label-green {
	background-color: #cef4c1;
}